<include file="./Application/Home/View/public/header.html" />

<script type="text/javascript" src="{{:U('Public/baidumap/detail.js')}}"></script>
<!--<script defer="defer" src="{{:U('Public/baidumap/SearchInfoWindow_min.js')}}"></script>-->
<link rel="stylesheet" href="{{:U('Public/baidumap/SearchInfoWindow_min.css')}}">

<link rel="stylesheet" href="{{:U('Public/css/activity_detail.css')}}">

<!--<script src="{{:U('Public/bower_components/bootstrap/js/tooltip.js')}}"></script>
<script src="{{:U('Public/bower_components/bootstrap/js/popover.js')}}"></script>-->

<!--<script src="http://api.map.baidu.com/api?v=1.5&ak=QnwWrBBxBewxsbWQIoua2DCe"></script>-->
<script type="text/javascript">    
$().ready(function(){
    <foreach name="activity_members" item="activity_member">
        $('#head_div{{$activity_member["uid"]}}').popover();
    </foreach>
    //$("#testbutton").popover();
    $('#creator_head_div').popover();

    $("#follow_activity").click(function(){
        //alert('sdfsdf');
        //console.log('follow activity');
        $.ajax({
            url: "http://"+window.location.host+"/activity/follow",
            async: false,
            data: { aid: {{$activity_detail['aid']}} },
            success: function (data) {
                //var tag_id = data.term_id;
                //$('#newtags').append('<span name='+txt+' class="tag tag_new" value="'+tag_id+'">'+txt+'&nbsp;X</span>');
                if ( typeof (data.error) != 'undefined' ) {
                    if (data.error != '') {
                        alert("出错了:"+ data.error);
                    }
                }else{
                    console.log( 'follow res:'+ data.msg + ',follow_cnt'+ data.follow_cnt );
                    $('#follow_take_btn_li').hide();
                    $('#followed_li').show();
                    $('#taked_li').hide();
                    $('#follow_cnt').text(data.follow_cnt+'人已关注');
                }
                //alert("Data: " + data + "\nStatus: " + status);
            },
            error: function (msg) {
                alert(msg.responseText);
            }
        });
    });

    $('#cancel_follow').click(function(){
        console.log('unfollow');
        $.ajax({
            url: "http://"+window.location.host+"/activity/unfollow",
            async: false,
            data: { aid: {{$activity_detail['aid']}} },
            success: function (data) {
                //var tag_id = data.term_id;
                //$('#newtags').append('<span name='+txt+' class="tag tag_new" value="'+tag_id+'">'+txt+'&nbsp;X</span>');
                if ( typeof (data.error) != 'undefined' ) {
                    if (data.error != '') {
                        alert("出错了:"+ data.error);
                    }
                }else{
                    console.log( 'unfollow res:'+ data.msg +',data.follow_cnt:'+data.follow_cnt );
                    $('#follow_take_btn_li').show();
                    $('#followed_li').hide();
                    $('#taked_li').hide();
                    if(data.follow_cnt==0){
                        $('#follow_cnt').text('暂无人关注');
                    }else{
                        $('#follow_cnt').text( data.follow_cnt+'人已关注');
                    }
                }
                //alert("Data: " + data + "\nStatus: " + status);
            },
            error: function (msg) {
                alert(msg.responseText);
            }
        });
    });

    $("#take_activity,#take_activity_a").click(function(){
        //alert('sdfsdf');
        console.log('take activity');
        $.ajax({
            url: "http://"+window.location.host+"/activity/take",
            async: false,
            data: { aid: {{$activity_detail['aid']}} },
            success: function (data) {
                //var tag_id = data.term_id;
                //$('#newtags').append('<span name='+txt+' class="tag tag_new" value="'+tag_id+'">'+txt+'&nbsp;X</span>');
                if ( typeof (data.error) != 'undefined' ) {
                    if (data.error != '') {
                        alert("出错了:"+ data.error);
                    }
                }else{
                    console.log( 'take res:'+ data.msg +',fc:'+ data.follow_cnt +',tc:'+data.take_cnt );
                    $('#follow_take_btn_li').hide();
                    $('#followed_li').hide();
                    $('#taked_li').show();
                    if(data.follow_cnt == 0){
                        $('#follow_cnt').text('暂无人关注');
                    }else if(data.follow_cnt > 0 && data.follow_cnt !='N'){
                        $('#follow_cnt').text( data.follow_cnt+'人已关注');
                    }
                    $('#take_cnt').text( data.take_cnt+'人已关注');
                }
                //alert("Data: " + data + "\nStatus: " + status);
            },
            error: function (msg) {
                alert(msg.responseText);
            }
        });
    });
    
    $('#cancel_take').click(function(){
        console.log('take');
        $.ajax({
            url: "http://"+window.location.host+"/activity/untake",
            async: false,
            data: { aid: {{$activity_detail['aid']}} },
            success: function (data) {
                //var tag_id = data.term_id;
                //$('#newtags').append('<span name='+txt+' class="tag tag_new" value="'+tag_id+'">'+txt+'&nbsp;X</span>');
                if ( typeof (data.error) != 'undefined' ) {
                    if (data.error != '') {
                        alert("出错了:"+ data.error);
                    }
                }else{
                    //data.take_cnt;
                    console.log( 'unfollow res:'+ data.msg +',tc:'+ data.take_cnt);
                    $('#follow_take_btn_li').show();
                    $('#followed_li').hide();
                    $('#taked_li').hide();
                    if(data.take_cnt==0){
                        $('#take_cnt').text('暂无人参加');
                    }else{
                        $('#take_cnt').text( data.take_cnt+'人已参加');
                    }
                }
            },
            error: function (msg) {
                alert(msg.responseText);
            }
        });
    });


    var ua_status = '{{$us_status}}';
    switch(ua_status){
        case 'F':
            console.log('UA Follow');
            $('#taked_li').hide();
            $('#followed_li').show();
            $('#follow_take_btn_li').hide();
        break;
        case 'T':
            console.log('UA Take');
            $('#taked_li').show();
            $('#followed_li').hide();
            $('#follow_take_btn_li').hide();
        break;
        case 'N':
            console.log('UA no');
            $('#taked_li').hide();
            $('#followed_li').hide();
            $('#follow_take_btn_li').show();
        break;
    }


    


});

//百度地图加载
    function initialize() {
        // var script = document.createElement("script"); 
        // script.src = "http://www.sport.com/Public/baidumap/SearchInfoWindow_min.js";
        // document.body.appendChild(script);

        var map = new BMap.Map('map');
        var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮
        var lon = {{$activity_detail['lon']}};
        var lat = {{$activity_detail['lat']}};
        var point = new BMap.Point(lon, lat);
        map.centerAndZoom(point, 15);
        var marker = new BMap.Marker(point);  // 创建标注
        //marker.disableDragging();//不可拖拽    
        function G(id) {
            return document.getElementById(id);
        }
        // var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
        //                 '地址：北京市海淀区上地十街10号<br/>电话：(010)59928888<br/>简介：百度大厦位于北京市海淀区西二旗地铁站附近，为百度公司综合研发及办公总部。' +
        //               '</div>';    
        var content = '<div style="margin:0;line-height:20px;padding:2px;">' +
                        '地址：{{$activity_detail["alocation"]}}<br/>' +
                        
                      '</div>';


        //todo tel
        var opts = {
            width : 200,     // 信息窗口宽度
            height: 100,     // 信息窗口高度
            title : "{{$activity_detail['alocation']}}" , // 信息窗口标题
            enableAutoPan:true,
            enableCloseOnClick:true,
            enableMessage:true,//设置允许信息窗发送短息
            message:"活动地点:{{$activity_detail['alocation']}}"
        }

        var infoWindow = new BMap.InfoWindow( content, opts);
        // {
        //     title  : "{{$activity_detail['alocation']}}",      //标题
        //     width  : 290,             //宽度
        //     height : 105,              //高度
        //     panel  : "panel",         //检索结果面板
        //     enableAutoPan : true,     //自动平移
        //     searchTypes   :[
        //         BMAPLIB_TAB_SEARCH,   //周边检索
        //         BMAPLIB_TAB_TO_HERE,  //到这里去
        //         BMAPLIB_TAB_FROM_HERE //从这里出发
        //     ]
        // });

        marker.addEventListener("click", function(e){
            this.openInfoWindow(infoWindow);
            //searchInfoWindow.open(marker);
        });


        map.addOverlay(marker); 
        map.addControl(top_right_navigation);
        /*
        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {
            "input" : "suggestId"
            ,"location" : map
        });

        ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }    
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
            
            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }    
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            G("searchResultPanel").innerHTML = str;
        });

        var myValue;
        ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
            myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
            
            setPlace();
        });

        function setPlace(){
            //map.clearOverlays();    //清除地图上所有覆盖物
            function myFun(){
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
                map.centerAndZoom(pp, 18);
                map.addOverlay(new BMap.Marker(pp));    //添加标注
            }
            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);
        }
        */


        //marker.setAnimation(BMAP_ANIMATION_BOUNCE);
        //var sContent = "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>{{$activity_detail['alocation']}}</h4>";
        //var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
        // marker.addEventListener("click", function(){          
        //    this.openInfoWindow(infoWindow);
        //    //图片加载完毕重绘infowindow
        //    // document.getElementById('imgDemo').onload = function (){
        //    //     infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
        //    // }
        // });
    }


function loadScript() {  
    var script = document.createElement("script");  
    //script.src = "http://api.map.baidu.com/api?v=1.5&ak=QnwWrBBxBewxsbWQIoua2DCe";
    

    script.src = "http://api.map.baidu.com/api?v=2.0&ak=QnwWrBBxBewxsbWQIoua2DCe&callback=initialize";
    document.body.appendChild(script);


    //此为v1.5版本的引用方式  
    // http://api.map.baidu.com/api?v=1.5&ak=您的密钥&callback=initialize";
    //此为v1.4版本及以前版本的引用方式  
    
    
}

window.onload = loadScript;

</script>  

<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
    <div class="col-md-8">
        <div class="detail_up">
            <div class="detail_cover">
                <img class="detail_cover_img" src="{{:U('Public/image')}}{{$activity_detail['aimax_url']}}"/>
            </div>
            <div class="detail_point">

                <ul class="detail_point_ul">
                    <li><h3>{{$activity_detail['activity_name']}}</h3></li>
                    <if condition="$activity_detail['duration'] == 1">
                        <!--小于1天-->
                        <li class="activity_item_brief_li">时间：{{:date("m月d日 h:i", strtotime($activity_detail['start_time']))}}</li>
                    <else />
                        <!--大于1天-->
                        <li class="activity_item_brief_li">时间：{{:date("m月d日", strtotime($activity_detail['start_time']))}}至{{:date("m月d日",strtotime($activity_detail['end_time']))}}</li>
                    </if>
                    <li>地点：{{$activity_detail['cityarea2show']}}&nbsp;{{$activity_detail['alocation']}}</li>
                    <li>
                        <switch name="activity_detail.pricetype">
                            <case value="F">费用：免费</case>
                            <case value="M">门票：{{$activity_detail['price']}}</case>
                            <case value="A">费用：{{$activity_detail['price']}}</case>
                        </switch>
                    </li>
                    <li>类型：{{$activity_detail['atype']}}-{{$activity_detail['sport_name']}}</li>
                    <if condition="$activity_detail['equipment_take'] neq null">
                        <li>需自带器械：{{$activity_detail['equipment_take']}}</li>
                        
                    </if>
                    <if condition="$activity_detail['equipment_got'] neq null">
                        <li>已提供器械：{{$activity_detail['equipment_got']}}<li>
                    </if>
                    <li>发起人：<a href="">{{$activity_detail['username']}}</a></li>
                    <li class="follow_take_cnt_li">
                        <span class="follow_cnt_span" id="follow_cnt">
                            <if condition="$activity_detail['follow_cnt'] gt 0">
                                {{$activity_detail['follow_cnt']}}人已关注
                            <else/>
                                暂无人关注
                            </if>
                        </span>
                        <span class="take_cnt_span" id="take_cnt">
                            <if condition="$activity_detail['take_cnt'] gt 0">
                                {{$activity_detail['take_cnt']}}人已参加
                            <else/>
                                暂无人参加
                            </if>
                        </span>
                    </li>


                    <li id="follow_take_btn_li">
                        <button type="button" class="btn btn-primary" id="follow_activity">关注</button>
                        <button type="button" class="btn btn-primary" id="take_activity">参加</button>
                    </li>
                    <li id="followed_li">
                        已关注 <a id="cancel_follow" class="cancel" href="#">取消</a> &gt; <a id="take_activity_a" href="#">我要参加</a>
                    </li>
                    <li id="taked_li">
                        已参加 <a id="cancel_take" class="cancel" href="#">取消</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="detail_bottom">
            <h3>活动详情</h3>
            {{$activity_detail['acontent']}}
        </div>

        <div class="activity_comment">
            <h3>活动讨论</h3>
            <table class="table">
                <if condition="count($comments) gt 0">
                    <foreach name="comments" item="comment" >
                        <tr>
                            <td><a href="">{{$comment['accontent']}}</a></td>
                            <td>来自<a href="">{{$comment['username']}}</a></td>
                            <td><if condition="$comment['fcnt'] gt 0">
                                    {{$comment['fcnt']}}人回应
                                </if>
                            </td>
                            <td>
                                <if condition="floor((strtotime($comment['create_time'])-floor(strtotime(date('Y-m-d'))) )/86400) gt 0">
                                    {{:date('Y-m-d',strtotime($comment['create_time']))}}
                                <else/>
                                    {{:date('H:i',$comment['create_time'])}}
                                </if>
                            </td>
                        </tr>
                    </foreach>
                <else/>
                    暂无发言
                </if>
            </table>
            <a href="{{:U('activitycomment/create')}}/{{$activity_detail.aid}}">新建话题</a>
        </div>
        <!--活动内容分享-->
        <div class="activity_share">

        </div>

    </div>



    <div class="col-md-4">
        <div class="map_container">
            地图
            <div id="map" style="width:400px;height:300px"></div>
            <!---->
        </div>
        <div class="activity_initor">
            <h3>活动发起人</h3>
            <div class="activity_member_head" id="creator_head_div" data-container="body" data-animation="true" rel="popover" data-placement="top" data-html="true" data-trigger="hover" 
                data-content="
            <div class='member_float_div'>
                <div class='member_float_head'><img src='{{:U('public/image')}}{{$activity_creator['head_iminurl']}}'/></div>
                <div class='member_float_head_detail'>
                    <div>
                        <a href='{{:U('user/detail')}}/{{$activity_creator['uid']}}'>
                            {{$activity_creator['username']}}
                         </a>
                    </div>
                    <div>发起人</div>
                </div>
            </div>">
                <a href="{{:U('user/detail')}}/{{$activity_creator['uid']}}"><img class="activity_member_head_img" src="{{:U('public/image')}}{{$activity_creator['head_iminurl']}}" /></a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="activity_member">
            <h3>活动成员({{$activity_detail['take_cnt']}}人参加，{{$activity_detail['follow_cnt']}}人关注)</h3>
            <foreach name="activity_members" item="activity_member" >
                <div class="activity_member_head" id="head_div{{$activity_member['uid']}}" data-container="body" data-animation="true" rel="popover" data-placement="top" data-html="true" data-trigger="hover" 
                data-content="
                    <div class='member_float_div'>
                        <div class='member_float_head'><img src='{{:U('public/image')}}{{$activity_member['head_iminurl']}}'/></div>
                        <div class='member_float_head_detail'>
                            <div>
                                <a href='{{:U('user/detail')}}/{{$activity_member['uid']}}'>
                                    {{$activity_member['username']}}
                                 </a>
                            </div>
                            <div>{{$activity_member['actype']}}</div>
                        </div>
                    </div>">
                    <a href="{{:U('user/detail')}}/{{$activity_member['uid']}}"><img class="activity_member_head_img" src="{{:U('public/image')}}{{$activity_member['head_iminurl']}}" /></a>
                </div>
            </foreach>

            <!--<button id="testbutton" type="button" class="btn btn-lg btn-danger" data-container="body" data-animation="true" rel="popover" data-placement="top" data-trigger="hover" data-content="And here's amazing content.">aaa</button>-->
        </div>
        <div class="clearfix"></div>


    </div>


</div><!--end of col -->
</div><!--end of row-->
</div><!--end of container-->
<include file="./Application/Home/View/public/footer.html" /> 


