<include file="./Application/Home/View/public/header.html" /> 

<link rel="stylesheet" href="{{:U('Public/css/user.css')}}">
<div class="container" id="reg_div" >
	<form action='{{:U('user/regist')}}' method='post' id="register_form" class="form-signin" role="form">
    <input type="hidden" name="method" value="do"/>
		<div class="form_head">
			<div class ="form_title" id="form_title"><h3>注册</h3></div>
			<div class ="change_link" id="change_link"><h3><a href="{{:U('user/login')}}" id="login_form_show">登录</a></h3></div>
		</div>
        <input type="email"    name="reg_email" id="reg_email" class="form-control" value="<php> echo(isset($reg_email_save)?$reg_email_save:'');</php>" placeholder="邮箱" required autofocus>
        <input type="username" name="reg_username" id="reg_username" class="form-control" value="<php> echo(isset($reg_username_save)?$reg_username_save:'');</php>" placeholder="用户名" required>
        <input type="password" name="reg_password" id="reg_password" class="form-control" placeholder="密码" required>
        
      <if condition="isset($err)">
        <div class="alert alert-danger" role="alert">
        <ul>
   		   		<li>{{$err}}</li>
   		   </ul>
    	   </div>
    	</if>
    	
    	<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
	</form>
</div>

<include file="./Application/Home/View/public/footer.html" /> 